.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }
  .row{
      display: flex;
      width: 100%;
    padding-bottom: 130px;
      
     
      
  }
  .leftcol{
      width: 100%;
      display: flex;
      padding: 20px;

  }
  .rightcol{
    width: 100%;
    display: flex;
    padding: 20px;
    
}
.pr{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.p{
    border: solid black;
    border-radius: 9px;
    font-weight: bold;
    font-size: 40px;
}
.ship{
  text-align: center;
  font-size: 48px;
  padding: 15px;
  font-family:  'Lora', serif;
  background-color: rgba(218, 231, 247, 0.205);
}
