@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 0px;
  margin: 0px;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: black;
}

.centered {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(6, 71, 97);
  font-size:75px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar {
  display: flex;
  background-color: rgb(238, 234, 234);
}
.navbar-items {
  margin-top: 50px;
  margin-left: 40%;
  display: flex;
}
.navbar-item {
  font-size: 24px;
  font-weight: 500;
  margin: 10px;
}
.heading {
  font-size: 70px;
  font-weight: 500;
  margin: 20px;
  margin-left: 15%;
}
img {
  width: 100%;
  max-height: 20%;
}
.container-img {
  position: relative;
  text-align: center;
}
.center-img {
  font-size: 74px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.features {
  display: flex;
}
.feature {
  text-align: center;
  font-size: 24px;
  margin: 100px;
  max-width: 500px;
}
.feature-logo {
  width: 300px;
}
.famous {
  text-align: center;
  background-color: #b9b9b9;
}
.famous-heading {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 84px;
}
.places-heading {
  font-size: 54px;
}
.place-description {
  display: flex;
}
.place {
  margin-top: 50px;
  padding: 20px;
}
.place-img {
  width: 80%;
  height: 80%;
}
.details {
  padding: 10px;
}
.place-info {
  text-align: left;
  font-size: 26px;
}

.place-1 {
  margin-top: 50px;
  padding: 20px;
}
.place-img-1 {
  width: 80%;
  height: 120%;
}
.details {
  padding: 10px;
}
.search {
  margin-top: 100px;
  text-align: center;
}
.search-heading {
  font-size: 84px;
}
.search-bar {
  margin-top: 40px;
}
.input-text {
  font-size: 32px;
  height: 50px;
  width: 70%;
}
.input-button {
  margin: 30px;
  width: 15%;
  font-size: 40px;
  padding: 10px;
  background-color: rgb(176, 233, 255);
}
.footer {
  padding: 100px;
  padding-top: 20px;
  background-color: #acb3b3;
  height: 120px;
}
.footer-info {
  margin-left: 105px;
  width: 380px;
  float: right;

  margin-left: 100px;
}
.footer-links {
  width: 520px;
  float: right;
  display: flex;
  margin-right: 100px;
  margin-bottom: 20px;
}
ul {
  list-style-type: none;
  width: 150px;

  margin-left: 20px;
  font-size: 17px;
}
a {
  margin: 10px 0;
  text-decoration: none;
  color: black;
}
.logo {
  display: flex;
  padding: 10px;
  height: 100%;
  width: 100%;
  margin-left: 10px;
}
