* {
  padding: 0px;
  margin: 0px;
}
.test {
  z-index: 1;
  margin-top: 200px;
  margin: auto;
  align-self: center;
  width: 360px;
  height: 460px;
  border: 1px solid wheat;
  overflow: hidden;
}
.test__header {
  padding: 5px;
  background-color: cornflowerblue;
  color: white;
}
.test__header > p {
  font-size: 20px;
}
.test__images {
  padding: 5px;
}
.test__img {
  max-width: 110px;
  padding: 2px;
}
.test__img1 {
  max-width: 110px;
  padding: 2px;
  border: 50px auto rgb(231, 0, 0);
}
.test__img > img {
  max-width: 110px;
  max-height: 110px;
  min-width: 110px;
  min-height: 110px;
  padding-left: 3px;
}
.test__img1 > img {
  max-width: 100px;
  max-height: 100px;
  min-width: 100px;
  min-height: 100px;
  padding-left: 10px;
  padding-top: 5px;
  border: 5px auto rgb(0, 0, 0);
}
.a {
  display: flex;
}
.b {
  display: flex;
}
.c {
  display: flex;
}
.bottom {
  display: flex;
}
.test__symbols {
  padding-left: 2px;
  display: flex;
}
.symbols > img {
  padding: 4px;
  max-width: 30px;
}
button {
  margin-left: 170px;
  background-color: cornflowerblue;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
}
